{% with title="SESSION EXPIRED" %}{% include "_head.html" %}{% endwith %}
<br><br><center>
<table border="1" cellpadding="8" cellspacing="0" bgcolor="#ffffe0">
<tr><td class="hdrbar"><font color="#ffffff">SECURITY NOTICE</font></td></tr>
<tr><td><font color="#cc0000"><b>YOUR SESSION HAS EXPIRED DUE TO INACTIVITY.</b></font><br><br>
<font>Press CONTINUE SESSION to re-establish your operator session.</font></td></tr>
<tr><td align="center"><form method="get" action="/session/continue"><input type="submit" value="CONTINUE SESSION" class="btn"></form></td></tr>
</table></center></body></html>
